<% provide(:title, 'Sign Up') %>
<div class="centre jumbotron">
<h1>Sign up!</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <table>
    <%= form_for(@user) do |u| %>
   <td><%= render 'shared/error_messages' %></td>
   <tr>
   <td align="right"> <%= u.label :name, "Name:" %> </td>
   <td width="5px">
   <td> <%= u.text_field :name, class: 'form-control' %>
   <tr>   
   <td align="right"> <%= u.label :email, "e-mail:" %>
   <td width="5px">
   <td> <%= u.email_field :email %>
   <tr>
   <td align="right"> <%= u.label :password, "Password:" %>
   <td width="5px">
   <td> <%= u.password_field :password %>
   <tr>
   <td align="right"> <%= u.label :password_confirmation, "Confirmation:" %>
   <td width="5px">
   <td> <%= u.password_field :password_confirmation %>
   <tr>
   <td> <%= u.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
   </table>
  </div>
</div>
</div>
